*{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
header{
    background-color: white;
    position: sticky;
    top: 0px;
    
    
    
}
.main{
    /* height: 600px; */
    /* border: 2px solid black; */
    margin: 10px;
    text-align: center;
    
}
.a,.b,.c,.d{
    width: 300px;
    /* border: 2px solid red; */
    margin: 5px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
img{
    width: 100%; 
}
nav{
    margin-left: 320px;
    font-size: 25px;
    display: inline-block;
    width: 30px;
    height: 30px;
    
    
}
a{
    
    color: black;
    
    
    }
    